// $medicare-green: #0F7947;
// $medicare-yellow: #F0C24A;
// $medicare-blue: #232941;
// $medicare-teal: #355F5F;
// $medicare-hover-teal: rgba(94,133,128,0.2);
// $medicare-button-hover: #172B2B;
// $medicare-light-grey: #dddddd;

// $uikit-colour-Primary: $medicare-teal;
// $uikit-colour-Secondary: #707070;

// $uikit-colour-Link: rgba(94, 133, 128, 0.2);
// $uikit-colour-Hero: #108140;
// $uikit-colour-Background: #F4F4F4;
// $uikit-colour-Text: #313131;
// $uikit-colour-button-background: $medicare-teal;
// $uikit-colour-button-hover: #254343;
// $uikit-colour-Border: #555555;
// $uikit-colour-text-input-Border: #777;

// $global-elements-primary-colour: #27AE60;
// $global-elements-secondary-colour: $medicare-green;
// $break-out-box-background: #B1D7E3;
// $secondary-text-colour: #747474;
// $site-footer-link-hover: #00D659;
// $error-red: #CC0200;

$cloud-teal: #185E6F;
$cloud-blue: #67DAFD;
$cloud-light-grey: #F5F5F5;
$cloud-dark-grey: #757575;
$error:#BC293F;