<div id="mainmenu" class="mainmenu au-body au-body--dark au-accordion__body au-accordion--closed">
  <div class="container container-fluid">
    <nav class="navigation navigation--dark">
      <ul class="nav navbar-nav au-link-list au-link-list--inline">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['./']">Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="[routePath.HOWTOPREPARE]">Prepare
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="[routePath.ABOUT]">About
          </a>
        </li>
      </ul>
      <ul class="au-link-list au-link-list--inline mainmenu-right">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="[routePath.CONTACT]">Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>