<div class="row">
  <div class="col-xs-8">
    <h2>About</h2>

    <h3>What is the Cloud Assessment Tool (CAT)?</h3>
    <p>The Cloud Assessment Framework (CAT) helps government agencies determine if a cloud service is suitable for its business needs and operational context. </p>
    <p>It asks a series of questions to help you identify requirements around compliance, commercial considerations, operability, support and security.</p>
    <p>It also provides information and resources to help you understand these requirements and make informed decisions about which cloud services may be suitable for your needs.</p>

    <h4>What is it NOT?</h4>
    <p>The CAT is not a standardised or objective assessment of a cloud vendor or service.</p>
    <p>You should not use the output of the assessment as a definitive indicator (yes or no) of whether you should use the assessed service. It is designed as a tool to help you decide if a service is fit for your purposes.</p>

    <h4>Who is the CAT for?</h4>
    <p>The CAT is designed for any commonwealth agency staff considering using a cloud-based IT service in their organisation.</p>

    <h4>How long will it take?</h4>
    <p>The length of the assessment depends on a few factors, including the nature of the service you are considering and how much of the requested information you have at hand.</p>
    <p>The progress bar at the top of each screen indicates how far along you are in the assessment. The number of questions may change depending on your answers.</p>
    <p>You can pause the assessment at any time by clicking the Save & Exit button. To resume your assessment, return to <a href="https://assess.cloud.gov.au">https://assess.cloud.gov.au</a> using the same device and browser. You will then be prompted to pick up from where you left off.</p>
    <p>For more information on how to prepare for the assessment, read the <a [routerLink]="['/'+routePath.HOWTOPREPARE]">Prepare page</a>.</p>

    <h4>What will the assessment tell me?</h4>
    <p>When you submit your responses, you will be provided with a tailored assessment report. It will highlights any potential misalignment between the cloud service and your needs. </p>
    <p>Additional information will be provided to help you understand the results and next steps.</p>
    <p>The assessment is not a judgement of the cloud service or vendor. It’s a guide as to whether the service is suitable for your stated needs and any relevant compliance obligations.</p>

    <h4>What happens if I need input from my colleagues?</h4>
    <p>Some of the questions may require you additional information from others within your organisation.</p>
    <p>In these cases, you can leave your partially completed questionnaire open in your browser while you contact your colleagues, then return and complete the assessment at a later time.</p>
    <p>At this stage, the CAT does not support multiple users completing a single assessment, though this may be considered for future enhancements.</p>

    <h4>What will the DTA do with the information I provide?</h4>
    <p>The questionnaire does not ask you to provide any personal or identifiable details.</p>
    <p>Information relating to the assessment of the cloud service and vendor will be captured by the DTA to share with other Government Agencies.</p>
    <p>In future versions, these assessments may be published on this website. Other information in the questionnaire may be used by the DTA to help improve the CAT.</p>
  </div>
</div>