<header class="au-grid au-header au-header--dark" role="banner">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="au-header__brand">
          <a href="#" class="title-link">
            <img class="au-header__brand-image" alt="Australian Government Crest" src="assets/img/header-logo-agov.png">
            <div class="au-header__text">
              <h1 class="au-header__heading">Cloud Assessment Tool<span class="header__badge"> beta</span></h1>
              <div class="au-header__subline">
                The common cloud assessment framework
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-navi></app-navi>
</header>