<div class="row">
    <h1>Assessment</h1>
    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the
        whole of her lower arm towards the viewer.
    </p>
    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the
        whole of her lower arm towards the viewer.
    </p>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetuer.</li>
        <li>Aenean commodo ligula eget dolor.</li>
        <li>Aenean massa cum sociis natoque penatibus.</li>
    </ul>
    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the
        whole of her lower arm towards the viewer.
    </p>
    <p class="cta">
        <button class="au-btn  au-btn--primary" type="button" (click)="startAccessment()">Start</button>
    </p>
</div>

<app-modal [(show)]="showModal" [title]="'Local storage'"
    [primaryButtonText]="'No'" [secondaryButtonText]="'Yes'"
    (primaryButtonClick)='no()' (secondaryButtonClick)='yes()'>
    <div>Do you want to load your local storage data </div>
</app-modal>