<div class="au-grid au-body">
  <footer class="au-footer au-footer--dark" role="contentinfo">
    <div class="container">
      <section class="row">
        <div class="col-sm-12">
          <ul class="list-inline">
            <li class="list-inline-item"><a target="_blank" href="https://www.dta.gov.au/privacy-statement/">Privacy</a></li>
            <li class="list-inline-item"><a [routerLink]="['/'+routePath.CONTACT]">Need Help</a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.dta.gov.au/accessibility/">Accessibility</a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.dta.gov.au/disclaimer/">Disclaimer</a></li>
          </ul>
          <div style="clear:both">
            <p><img class="au-responsive-media-img footer-img" src="/assets/img/header-logo-agov.png" alt="Brand image "></p>
            <p>Have a question about the CAT? Contact DTA: <a href="mailto:secure.cloud@digital.gov.au">secure.cloud@digital.gov.au</a></p>
            <p><small>&copy; Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms</small></p>
            <p><small>and where otherwise noted, this work is licensed under the
              <a href="https://github.com/govau/uikit/blob/master/LICENSE" rel="external">MIT Licence</a></small></p>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>