<div class='modal' [(hidden)]='!show'>
  <div class='mask'></div>
  <div class='dialog-box'>
    <div class='header'>
      <h3>{{ title }}</h3>
    </div>
    <div class='content'>
      <ng-content></ng-content>
    </div>
    <div class='buttonBar'>
      <button *ngIf='primaryButtonText !== undefined' class='au-btn au-btn--secondary' (click)="primaryClicked()">
        {{ primaryButtonText }}
      </button>
      <button *ngIf='secondaryButtonText !== undefined' class='au-btn' (click)="secondaryClicked()">
          {{ secondaryButtonText }}</button>
    </div>
  </div>
</div>
