$phablet: 22em;           // iPhone 6/7 and up
$tablet-portrait: 48em;   // iPad Portrait
$tablet-landscape: 62em;  // iPad Landscape
$desktop: 75em;           // Horizontal Screens including iPad Pro