@import '/global-includes';

// .main {
//   @include rem(margin, 50px 0px);
// }

.banner{
  width:100%;
  min-height: 30px;
  // background: rgb(30, 56, 63);
  background: #fff;
  color: #000;
  a {
    color: rgba(0,112,153,0.99);
    }
    a:hover{
     color: rgba(0,112,153,0.99)
  }
  a.headergovau{
    float: right;
  }
  .headergovau__title{
    font-size: .9em;
  }
  .banner-bk {
    padding:5px 0 5px 0;
  }
  .stage-beta {
    color: #CD4D10;
    font-weight: bold;
  }
}

.rationaleLabel {
  font-weight: 700;
  clear: both;
}

.rationaleText{
  font-size: .8em;
}

.au-body * + p {
  margin-top: 1.5rem;
}

.au-body * + ul, li {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.au-text-input {
  border: 2px solid gray;
}

// .au-text-input:focus, .au-btn:focus, a.au-btn:focus {
  // outline: none;
// }

.errorMessage {
  margin: 10px 0 20px 0;
  border-left: 5px solid $error;
  background: #F3E2E2;
  padding: 10px;
  color: $error;
}

.error {
  padding: 5px 10px 5px;
}

.au-btn.au-btn--primary {
  margin-top: 10px;
}

.icon-star{
  height: 1.25rem!important;
  margin-right: .5rem;
  vertical-align: middle;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* MODALS */
.modal {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
}

.content {
  padding: 10px!important;
  margin-left: 25px;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  .row {
    @include rem(padding, 50px);
  }
  h1, h2, h3 {
    font-weight: normal;
  }
}

 /* print styles */
 /* Report styles*/

@media print {

.panel-green {
  border-color: #21B87D!important;
  -webkit-print-color-adjust:exact;
  }

.panel-orange {
  border-left: #FFB951!important ;
  -webkit-print-color-adjust:exact;
  }

.panel-red {
  border-left: #FF625C!important;
  -webkit-print-color-adjust:exact;
  }
    
.traffic-green{
  color: #21B87D!important;
  -webkit-print-color-adjust:exact;
  }

.traffic-orange{
  color: #FFB951!important ;
  -webkit-print-color-adjust:exact;
  }

.traffic-red{
  color:#FF625C!important;
  -webkit-print-color-adjust:exact;
  }

.green-light{
  color: #008A0B!important;
  -webkit-print-color-adjust:exact;
  }

.green-orange{
  color: #D05513!important;
  -webkit-print-color-adjust:exact;
  }

.green-red{
  color: #D0020A!important;
  -webkit-print-color-adjust:exact;
  }

.mainmenu .au-body .au-body--dark .au-accordion__body .au-accordion--closed {
  display:none;
  }
.main .row {
  margin-top: -50px;
  }
ul.nav.navbar-nav.au-link-list.au-link-list--inline{
  display:none;
}
ul.au-link-list.au-link-list--inline.mainmenu-right{
  display:none;
}
.au-body .au-btn, .au-body a.au-btn {
  display:none;
  margin-top:10px;
  }
.progress-outer {
  display: none;
}
.au-grid .col-xs-8 {
  width: 100%;
}
  .au-footer__end.row {
  display:none;
  padding: 10px 10px;
  }  
.au-grid .col-xs-4 {
  width: 60%;
}

h1 {
  padding-top: 10px;
  color: #185E6F!important;
  -webkit-print-color-adjust:exact ;
}
h5.au-display-lg {
  color: #185E6F!important;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid; // Prevent headings from being printed at the bottom of the page
}

img, #textarea {
  page-break-inside: avoid; // Prevent images from being split up
}

.top{
  display: none;
}

body {
page-break-before: always;
}
}


.au-footer--dark {
  a {
      color: white;
  }
  a:link, a:visited {
      // text-decoration: none;
      color: #FFFFFF;
  }
  a:active {
      text-decoration: none;
      color: #FFFFFF;
  }
  a:hover {
      text-decoration: none;
      // border-bottom: 2px #61daff solid;
      color: #ffffff;
  }
  a:after{
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><path fill='%23fff' d='M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164 16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685 104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z'/><path fill='%23fff' d='M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41 62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892 1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z'/></svg>")
  }
  .au-display-lg {
      font-weight: 400;
      border-bottom: 4px #61daff solid;
  }
  h3 {
      font-size: 1.1em;
  }
  .list-inline{
      padding-left:0px;
      width: 100%;
  }
  .list-inline-item {
      padding: 0;
      display: inline;
      padding-right: 15px;
  }
  .footer-img{
      max-width: 16rem;
      
  }
}

@media only screen and (max-width: 600px) {
  .list-inline-item {
      float: left;
      clear: left;
      padding: 10px!important;
  }
}