@import '../../../styles/global-includes';

#mainmenu {
  @include rem(padding-top, 32px);
  overflow: visible;
  // .container {
  //   @include rem(padding-left, 62px);
  //   @include rem(padding-right, 62px);
  // }
}

.mainmenu-right {
  float: right;
}

ul.navbar-nav {
  padding-left: 0px;
}

.navigation {
  .au-link-list--inline {
    @include rem(margin-bottom, 8px);
     > li {
      margin: 0px;
      > a {
        text-decoration: none;
        @include rem(padding, 16px 16px 15px 16px);
        @include rem(border-bottom-width, 8px);
      }
      &.active a {
        color: #fff;
        border-bottom: solid #fff;
        @include rem(border-bottom-width, 8px);
      }
    }
  }
}

// .au-body.au-body--dark a:focus {
//   // outline: none;
// }

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  // font-family: 'segoe ui';
}

.nav {
  z-index:1000;
  //height: 50px;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
}




.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: inherit;
    margin-top: -20px;
    float: right;
    right: 0px;
    top: 0px;
  }
  .au-link-list--inline {
    display: block
  }

  #mainmenu{
    padding-top: 10px;
}
  .mainmenu-right {
    float: left;
    margin-top:-15px!important;
}

//   .au-body.au-body--dark a:focus {
//     outline: none;
// }

  li.nav-item {
    padding-top: 10px;
    display: block;
    /* width: 200px; */
    padding-bottom: 5px;
}

  #mainmenu .container {
   padding: 0px 20px 0 20px!important; 
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

  .navigation .au-link-list--inline > li.active a {
    width: 150px;
    clear: both;
    display: block;
    padding:0px 0px 0px 15px;
    text-decoration: underline;
    border-bottom: none;

  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 44px;
    left: 0px;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(50vh - 50px);
  }
}