<div class="row highlight">
  <div class="col-sm-12 col-md-6 col-md-push-6">
    <img class="au-responsive-media-img" src="http://placehold.it/350x150" alt="Brand image">
  </div>
  <div class="intro__text col-sm-12 col-md-5 col-md-pull-6">
    <h2>Start a new assessment
    </h2>
    <p>To get started, you'll need to know the following:</p>
    <ul>
      <li>The product or service that you would like to assess</li>
      <li>The classification requirements for your data</li>
    </ul>
    <p class="cta">
      <button class="au-btn  au-btn--primary" (click)="startAccessment()">Get started</button>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>About the framework</h2>
    <p class="cta">
      <button class="au-btn  au-btn--secondary" (click)="learnMore()">Learn more</button></p>
  </div>

</div>