<div class="row">
  <h4>How to prepare?</h4>
  <p>The Cloud Assessment Tool takes you through a series of questions related to the service you are assessing and the
    context of how you expect to use the service. It is broken into seven categories as outlined below. Some
    suggestions are provided below as to the information you may wish to review prior to undertaking the assessment.
    Keep in mind that it's not mandatory that you have this information prior to starting the assessment as you are not
    required to complete the assessment in one session, and most of the questions are not mandatory.</p>

  <h4>Overview</h4>
  <p>The Overview category provides some top level questions to provide context around the service you are assessing.</p>
  <p>To answer the questions in this category, you should ensure you know:</p>
  <ul>
    <li>The name of the service and vendor</li>
    <li>The approximate number of users you intend to use it for</li>
    <li>The primary purpose intended for the service.</li>
  </ul>

  <h4>Vendor</h4>
  <p>The Vendor category looks at the provider of the service and considers the reputation and viability of the
    organisation. </p>
  <p>To answer the questions in this category, you should familiarise yourself with:</p>
  <ul>
    <li>The vendor's history and experience</li>
    <li>Other agencies that have used the vendor</li>
    <li>Any red flags that suggest the vendor may be unable to provide the service at the level you require</li>
  </ul>

  <h4>Commercials</h4>
  <p>The Commercials category looks at the contract or Service Level Agreement (SLA) the services provides.</p>
  <p>To answer the questions in this category, you should familiarise yourself with:</p>
  <ul>
    <li>The terms and conditions provided by the service</li>
    <li>How the service handles content ownership and data privacy</li>
    <li>How the vendor deals with exit provisions and additional usage pricing</li>
  </ul>
  <p>You may also want to talk to your Legal and Finance teams to determine your Agency's individual requirements so
    that you can ensure the service is able to meet these.</p>

  <h4>Compliance</h4>
  <p>The Compliance category looks at how you can assure you are meeting the appropriate compliance requirements when
    using the service.</p>
  <p>To answer the questions in this category, you should familiarise yourself with:</p>
  <ul>
    <li>Your obligations relating to the <a target="_blank" href="https://www.oaic.gov.au/privacy-law/privacy-archive/privacy-resources-archive/information-privacy-principle">Privacy Act 1988</a></li>
    <li>Your obligations relating to the <a target="_blank" href="https://www.legislation.gov.au/Details/C2016C00772">Archives Act 1983</a></li>
    <li>Your obligations relating to the <a target="_blank" href="https://www.oaic.gov.au/freedom-of-information/foi-act">Freedom of Information Act 1982</a></li>
    <li><a target="_blank" href="https://acsc.gov.au/infosec/irap/certified_clouds.htm">ASD Certification and the Certified Cloud Services list</a></li>
    <li>The <a target="_blank" href="https://acsc.gov.au/infosec/irap.htm">Information Security Registered Assessors Program (IRAP)</a></li>
    <li>The <a target="_blank" href="https://acsc.gov.au/infosec/ism">Information Government Security Manual</a></li>
    <li><a target="_blank" href="https://acsc.gov.au/infosec/ism">WCAG compliance</a> under the Disability Discrimination Act 1992.</li>
  </ul>

  <h4>Security</h4>
  <p>The Security category looks at the security aspects of the service you are assessing.</p>
  <p>To answer the questions in this category, you should familiarise yourself with the following:</p>
  <ul>
    <li>The security of data both in transit and at rest</li>
    <li>How the service manages and tracks access</li>
    <li>The physical security of the data centres.</li>
  </ul>

  <h4>Operability</h4>
  <p>The Operability category looks at the performance of the service in terms of scalability, connectivity and general
    use.</p>
  <p>To answer the questions in this category, you should familiarise yourself with:</p>
  <ul>
    <li>Any past performance data the vendor makes available</li>
    <li>How the service manages availability, compatibility and load balancing</li>
    <li>How the service manages data transfer and portability</li>
    <li>Any information that speaks to the ease of use of the product</li>
  </ul>

  <h4>Support</h4>
  <p>The Support category looks at the resources and support provided by the vendor to help you use the service.</p>
  <p>To answer the questions in this category, you should familiarise yourself with the availability of:</p>
  <ul>
    <li>Any online training resources such as videos, tutorials, etc</li>
    <li>Customer support and community based help</li>
    <li>Technical experts to assist with implementation and maintenance</li>
  </ul>
</div>