<div class="row">
  <h2>Preparing for an assessment</h2>
  <p>The Cloud Assessment Tool (CAT) asks you a series of questions about the cloud service you're assessing and how you expect to use it. The questions are broken into 7 categories.</p>
  <p>We’ve provided some suggestions below about information you may wish to review prior before starting the assessment. But you don’t need to have this information before you start the assessment.</p>
  
  <h3>Overview</h3>
  <p>These are top level questions to provide context around the cloud service.</p>
  <p>You should know the:</p>
  <ul>
    <li>name of the cloud service and vendor</li>
    <li>approximate number of users who will use it</li>
    <li>primary purpose for the cloud service</li>
  </ul>

  <h3>Vendor</h3>
  <p>These questions are about the provider of the cloud service and the reputation and viability of the organisation.</p>
  <p>Familiarise yourself with:</p>
  <ul>
    <li>the vendor's history and experience</li>
    <li>other agencies that have used the vendor</li>
    <li>any red flags that suggest the vendor may be unable to provide the service at the level you require</li>
  </ul>

  <h3>Commercials</h3>
  <p>These questions look at the contract or Service Level Agreement (SLA) the cloud service provides.</p>
  <p>Familiarise yourself with:</p>
  <ul>
    <li>the terms and conditions provided by the cloud service</li>
    <li>how the cloud service handles content ownership and data privacy</li>
    <li>how the vendor deals with exit provisions and additional usage pricing</li>
  </ul>
  <p>You may also want to talk to your Legal and Finance teams to determine your agency's requirements, so you can ensure the cloud service can meet them.</p>

  <h3>Compliance</h3>
  <p>These questions look at how you can assure you are meeting the appropriate compliance requirements when using the cloud service.</p>
  <p>Familiarise yourself with:</p>
  <ul>
    <li>your obligations relating to the <a target="_blank" href="https://www.oaic.gov.au/privacy-law/privacy-archive/privacy-resources-archive/information-privacy-principle">Privacy Act 1988</a></li>
    <li>your obligations relating to the <a target="_blank" href="https://www.legislation.gov.au/Details/C2016C00772">Archives Act 1983</a></li>
    <li>your obligations relating to the <a target="_blank" href="https://www.oaic.gov.au/freedom-of-information/foi-act">Freedom of Information Act 1982</a></li>
    <li><a target="_blank" href="https://acsc.gov.au/infosec/irap/certified_clouds.htm">ASD Certification and the Certified Cloud Services list</a></li>
    <li>the <a target="_blank" href="https://acsc.gov.au/infosec/irap.htm">Information Security Registered Assessors Program</a> (IRAP)</li>
    <li>the <a target="_blank" href="https://acsc.gov.au/infosec/ism">Information Government Security Manual</a></li>
    <li><a target="_blank" href="https://acsc.gov.au/infosec/ism">WCAG compliance</a> under the Disability Discrimination Act 1992.</li>
    <li>the location of the cloud services’ data centres who has access to the data</li>
  </ul>

  <h3>Security</h3>
  <p>These questions look at the security aspects of the cloud service.</p>
  <p>Familiarise yourself with:</p>
  <ul>
    <li>the security of data both in transit and at rest</li>
    <li>how the service manages and tracks access</li>
    <li>the physical security of the data centres</li>
  </ul>

  <h3>Operability</h3>
  <p>These questions look at the performance of the cloud service in terms of scalability, connectivity and general use.</p>
  <p>Familiarise yourself with:</p>
  <ul>
    <li>any past performance data the vendor makes available</li>
    <li>how the service manages availability, compatibility and load balancing</li>
    <li>how the service manages data transfer and portability</li>
    <li>any information that speaks to the ease of use of the product</li>
  </ul>

  <h3>Support</h3>
  <p>These questions look at the resources and support provided by the vendor to help you use the cloud service.</p>
  <p>Familiarise yourself with the availability of:</p>
  <ul>
    <li>any online training resources – such as videos or tutorials</li>
    <li>customer support and community-based help</li>
    <li>technical experts to assist with implementation and maintenance</li>
  </ul>
</div>