@import '../../../styles/global-includes';

header {
    padding-bottom: 0px;
    border-bottom: solid $cloud-blue;
    @include rem(border-bottom-width, 8px);
}

h1 { color:#ffffff;}

a:hover{
    text-decoration: none;
}

.title-link {
    text-decoration: none;
}

.header__badge {
    padding: 2px 8px 2px 6px;
    margin-left: 8px;
    margin-left: 0.5rem;
    border: solid 2px #ffffff;
    border-radius: 2em;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;
    vertical-align: super;
}

@media only screen and (max-width: 600px) {
.au-header__brand {
    margin-left: 20px;
}
}