@import '../../../styles/global-includes';

.form-navigation {
    @include rem(margin-top, 32px);
    @include rem(padding, 0px 0px 32px);
    // .col-xs-6 {
    //     padding: 0px;
    // }
    .au-direction-link {
        font-size: 1.25rem;
        border-radius: 4px;
        color:#ffffff;
        padding:10px;
        min-width: 150px;
        background-color: #00698f;
        border: 3px solid #00698f;
        cursor: pointer;
        text-decoration: none;
        float:right;
        &.au-direction-link--left {
            float: left;
            background-color: transparent;
            color: #00698f;
        }
      }

    .au-direction-link:hover {
        text-decoration: underline;
        background-color: #313131;
         border: 3px solid #313131;
        }
    .au-direction-link--left:hover{
        background-color: transparent;
        color:#313131;
    }
}

// .au-direction-link:focus {
//     outline: none!important;
//   }
  
  .au-direction-link:after {
    content: none;
  }

  .au-direction-link--left:before {
    content: none;
  }
  

  @media only screen and (max-width: 600px) {
    .au-direction-link{
        padding:5px!important;
        min-width: 100px!important;
    }
}