<div class="row">
  <div class="col-xs-8">
    <h1>
      Type of cloud service
    </h1>

    <p>
      Description text Ut facilisis pulvinar interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Phasellus pretium nibh nibh, eget ultricies lorem rhoncus eget. Maecenas in rutrum velit. Nunc vehicula ut sapien ac tristique.
      Suspendisse viverra velit quis enim porta pellentesque. Fusce quis dictum neque. Nam laoreet sagittis nibh, eu maximus turpis
      ultricies in. Sed tincidunt lacus ac tempor viverra. Nunc quis nibh erat. Nullam eu dolor felis. Maecenas id facilisis eros.
      Nulla vehicula, lorem non consequat semper, odio mauris mollis mauris, eu eleifend dui massa id purus. Morbi sit amet bibendum
      urna, a gravida nisl.
    </p>

    <form #form="ngForm">
      <h3>
        What sort of cloud service are you assessing?
      </h3>

      <div>
        <label *ngFor="let option of options;">
          <input type="radio" [value]="option" [(ngModel)]="selectedOption" name="typeOfCloudService">
          <span>{{ option }}</span>
        </label>
      </div>

      <app-question-direction-button (goNextButtonClick)="goNext()">
      </app-question-direction-button>
    </form>
  </div>

  <div class="col-xs-4">
    <app-help-section></app-help-section>
  </div>
</div>