<div class="row">
    <h2>Start Assessment</h2>

    <p>On the following screens you will be asked a series of questions relating to the service you are assessing.</p>

    <p>Some of the questions may require you to complete further research before answering. Further information and
        links are provided alongside the questions to help you find the relevant information more quickly.</p>

    <p>For more information on how to prepare for the assessment, please review the <a [routerLink]="['/'+routePath.HOWTOPREPARE]">How
            to Prepare page</a>.</p>

    <p>The progress bar at the top of each screen indicates how far along you are in the assessment. The number of
        questions may change as you progress through the questionnaire depending on your answers.</p>

    <p>It you need to exit the assessment at any time, you can do so by clicking the Save & Exit button. To resume
        your assessment at a later time, simply return to <a href="http://assess.cloud.gov.au">http://assess.cloud.gov.au</a>
        using the same device and browser.
        You will then be prompted to pick up from where you left off.</p>

    <div style="margin-top:30px;">
        <form #declarativeForm="ngForm">
            <script *ngIf="reCAPTCHAConfig.enable" src='https://www.google.com/recaptcha/api.js'></script>
            <re-captcha *ngIf="reCAPTCHAConfig.enable" [siteKey]="reCAPTCHAConfig.siteKey" [(ngModel)]="declarativeFormCaptchaValue"
                name="captcha" required></re-captcha>
            <button class="au-btn  au-btn--primary" type="button" (click)="startAssessment()" [disabled]="!declarativeForm.valid && reCAPTCHAConfig.enable">Start</button>
        </form>
    </div>
</div>

<app-modal [show]="showModal" [title]="'Welcome back'" [primaryButtonText]="'Start again'" [secondaryButtonText]="'Resume'"
    (primaryButtonClick)='startAgain()' (secondaryButtonClick)='resume()' (close)='close()'>
    <div>Would you like to resume the questionnaire from where you left off?</div>
</app-modal>