<div class="row">
    <h1>
        About the framework
    </h1>

    <h4>What is the Cloud Assessment Framework (CAF)?</h4>
    <p>The Cloud Assessment Framework (CAF) is a tool to help government agencies determine if a particular cloud service
        is suitable for its business needs and operational context. It will ask you a series of questions to help you identify
        requirements around compliance, commercial considerations, operability, support and security. Additional information
        and resources are provided throughout the questionnaire to help you understand these requirements and make informed
        decisions about which cloud services may be suitable for your needs.</p>

    <h4>What is it NOT?</h4>
    <p>The CAF is not a standardised or objective assessment of a cloud vendor or service. As such, you should not use the
        output of the assessment as a definitive indicator (yes or no) of whether you should use the assessed service. Rather,
        it is designed as a tool to help guide you in your decision making on whether a particular service is fit for your
        purposes.
    </p>

    <h4>Who is the CAF for?</h4>
    <p>The CAF is designed for use by any commonwealth agency persons who are considering the implementation of a cloud-based
        IT service within their organisation.</p>

    <h4>How long will it take?</h4>
    <p>How long the assessment will take to complete depends on a few factors, including the nature of the service that you
        are considering and how much of the requested information you have at hand.</p>

    For more information on how to prepare for the assessment, please review the How to Prepare page.

    <h4>What will the assessment tell me?</h4>
    <p>When you submit your responses, you will be provided with a tailored assessment report which highlights where your
        responses indicate a potential misalignment between the service and your needs. Additional information will be provided
        to help you understand the results and next steps. The assessment should not be interpreted as a judgement of the
        cloud service or vendor, but rather, an indicative guide as to whether the service is suitable for your stated needs
        and any relevant compliance obligations.</p>

    What happens if I need input from my colleagues?
    <p>Some of the questions may require you to seek additional information from others within your organisation. In these
        cases, you can leave your partially completed questionnaire open in your browser while you contact your colleagues
        for more information, then return and complete the assessment at a later time. At this stage, the CAF does not support
        multiple users completing a single assessment, though this may be considered for future enhancements.</p>

</div>

<div class="row">
    <form #declarativeForm="ngForm">
        <script *ngIf="reCAPTCHAConfig.enable" src='https://www.google.com/recaptcha/api.js'></script>
        <re-captcha *ngIf="reCAPTCHAConfig.enable" [siteKey]="reCAPTCHAConfig.siteKey" [(ngModel)]="declarativeFormCaptchaValue"
            name="captcha" required></re-captcha>
        <button class="au-btn  au-btn--primary" type="button" (click)="startAssessment()" [disabled]="!declarativeForm.valid && reCAPTCHAConfig.enable">Start</button>
    </form>
</div>

<app-modal [(show)]="showModal" [title]="'Local storage'" [primaryButtonText]="'No'" [secondaryButtonText]="'Yes'" (primaryButtonClick)='no()'
    (secondaryButtonClick)='yes()'>
    <div>Do you want to load your local storage data </div>
</app-modal>