<form #myform="ngForm">
  <div *ngIf="currentQuestion">
    <!-- progress bar -->
    <div class="row-progress" id="progressbar">
      <app-progress-bar [progress]="processBarProgress" [progressText]="processBar"></app-progress-bar>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <span>{{subTitle}}</span>
        <h2 style="margin-top:8px;">{{currentQuestion.Quality}}</h2>
        <div style="margin-top:8px;" [innerHTML]="currentQuestion.Description"></div>
        <!-- question -->
        <div class="controlPadding" [ngSwitch]="currentQuestion.ValueType">
          <div *ngSwitchCase="'Integer'">
            <div class="form-answer-scale">
              <label *ngFor="let option of currentQuestion.ValueOptions.split(',');index as i" class="au-control-input">
                <input class="au-control-input__input" type="radio" name="integerOption" [value]="option" [(ngModel)]="currentQuestion.AssessmentValue"
                  required>
                <span class="au-control-input__text">{{ option }}</span>
                <span *ngIf="i===0">Low</span>
                <span *ngIf="i===4">High</span>
              </label>
              <div *ngIf="showError" role="alert" class="au-body au-page-alerts au-page-alerts--error">
                <p>Please answer this question before continuing.</p>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'XOR'">
            <div class="form-answer-radio">
              <label *ngFor="let option of currentQuestion.ValueOptions.split(',')" class="au-control-input">
                <input class="au-control-input__input" type="radio" name="listOption" [value]="option" [(ngModel)]="currentQuestion.AssessmentValue"
                  required>
                <span class="au-control-input__text">{{ option }}</span>
              </label>
              <div *ngIf="showError" role="alert" class="au-body au-page-alerts au-page-alerts--error">
                <p>Please answer this question before continuing.</p>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'OR'">
            <div class="form-answer-radio">
              <label class="au-control-input" *ngFor="let option of currentQuestion.AssessmentValue">
                <input class="au-control-input__input" type="checkbox" [name]="option.name" [(ngModel)]="option.checked"
                  [required]="checkValidity">
                <span class="au-control-input__text">{{option.name}}</span>
              </label>
              <div *ngIf="showError" role="alert" class="au-body au-page-alerts au-page-alerts--error">
                <p>Please answer this question before continuing.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- comment -->
        <div class="controlPadding">
          <label for="textarea" class="rationaleLabel">You can add notes here to support your answer and rationale (optional):</label>
          <textarea class="au-text-input au-text-input--block" name="textarea" id="textarea" [(ngModel)]="currentQuestion.Comments"></textarea>
        </div>
        <!-- button -->
        <app-question-direction-button (goNextButtonClick)="goNext()" (goPreviousButtonClick)="goPrevious()"
          [showPrevious]="showPrevious"></app-question-direction-button>
      </div>
      <!-- help section -->
      <div class="col-xs-4">
        <app-help-section [helpText]="currentQuestion.Reference"></app-help-section>
        <button type="button" class="au-btn au-btn--secondary" (click)="saveButtonClick()">Save & exit</button>
      </div>
    </div>
  </div>
</form>

<app-modal [(show)]="showModal" [title]="'Save & exit'" [primaryButtonText]="'Exit'" [secondaryButtonText]="'Cancel'"
  (primaryButtonClick)='saveExit()' (secondaryButtonClick)='saveCancel()'>
  <div>Your progress has been saved. To resume your assessment at a later time, simply return to
    <a href="https://assess.cloud.gov.au">https://assess.cloud.gov.au</a> using the same device and browser.  You will
    then be prompted to pick up from where you
    left off.</div>
</app-modal>