@import '../../../styles/mixins';

.au-display-xxxl {
  font-weight: 400;
  font-size: 2.7em;
}

a.au-btn, .au-btn--secondary{
  background-color: transparent;
  border-color: #00698f;
  color: #00698f;
}

.question-bar {
  width: 88%;
  background: rgb(103,218,253);
  background: linear-gradient(90deg, rgba(103,218,253,1) 0%, rgba(19,94,112,1) 35%, rgba(15,40,45,1) 100%);
  padding: 0 10px 0 10px;
  min-height: 20px;
  font-size: .8em;
  border-radius: 2px;
  margin: 10px 0px 20px 0px;
}

.au-display-lg {
  color: #185E6F;
  font-weight: 400;
  font-size: 2em;
}

.au-control-input__input:invalid + .au-control-input__text{
  background-color: white;
}

.au-control-input__input:invalid + .au-control-input__text:after {
  border-color: transparent;
}

button.au-btn {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .form-answer-scale {
    display: grid;
    float: left;
    clear: both;
    width: 100%;
    padding: 10px 10px 10px 0px;
  }
}

.au-control-input{
  vertical-align: top;
}

