@import '../../../styles/global-includes';
.controlPadding{
  padding-top: 10px;
}  

.row-progress {
  padding-top: 20px;
  margin: 25px 30px;
}

//.errorMessage {
  //border-left: 3px solid #cc0200;
//  color:#cc0200;
//  transition: all .3s linear;
//  }


.au-display-xxxl {
  font-weight: 400;
  font-size: 2.7em;
}

.row {
  padding-top: 20px!important;
  }

.au-text-input {
border: 2px solid gray;
}

.au-display-lg {
  color: #185E6F;
  font-weight: 400;
  font-size: 2em;
}
.au-text-input:focus, .au-body.au-body--dark a:focus {
  outline: none;
}

.au-control-input__input:focus + .au-control-input__text:before, .au-control-input__input:focus + .au-control-input__text:after {
  outline: none;
}

.au-control-input__input:invalid + .au-control-input__text:after {
  border-color: transparent;
}

.au-control-input__input:invalid + .au-control-input__text {
  background-color: transparent;
}
.form-answer-radio {
  display: grid;
  float: left;
  clear: both;
  width: 100%;
  padding: 10px 10px 10px 0px;
}

.au-control-input__text {
  padding-bottom: 15px;
}

button.au-btn {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .col-xs-8 {
    width: 100%
  }

  .col-xs-4 {
    width: 100%
  }
  .progress-inner {
    min-width: 7%;
    max-width: 95.8% !important;
  }
}
