@import '../../../styles/global-includes';
.au-text-input{
    width:100%;
}

.general-question{
    margin-top: 30px;

    input,textarea{
        margin-top: 15px;
    }
}

.au-text-input:invalid{
    border-color: #808080;
    background-color: #ffffff;
}

 .row {
        padding-top: 20px!important;
    }

//.errorMessage {
//border-left: 3px solid #cc0200;
//color:#cc0200;
//transition: all .3s linear;
//}

@media only screen and (max-width: 600px) {
    .col-xs-8 {
      width: 100%
    }
  
    .col-xs-4 {
      width: 100%
    }
    .progress-inner {
      min-width: 7%;
      max-width: 95.8% !important;
    }
  }
  