@import '../../../styles/global-includes';

$green: #21B87D;
$red: #FF625C;
$orange: #FFB951;

.traffic-light {  
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 6px;
    margin: 10px;
    border: none;
}
.red-light {
    @extend .traffic-light;
    background-color: $red;
}
.orange-light {
    @extend .traffic-light;
    background-color: $orange;
}
.green-light {
    @extend .traffic-light;
    background-color: $green;
}

// .left-col { 
//     @media only screen and (max-width: 600px) {
//         width: 100%;
//     }
//     @media only screen and (max-width: 770px) {
//         width: 100%;
//         padding: 0px;
//         margin: 0px;
//     }
// padding: 0px 20px;
//     h2 {
//         font-size: 1em;
//         padding-bottom: 10px;
//         font-weight: 800;
//     }

//     table {
//     min-width: 100%;
//     border-top: 4px solid #929597;
//     margin-top:15px;
//     }

//     tr, td{
//       border-bottom: 1px solid #dee2e6;
//       vertical-align: inherit;
//     }
// }

    // .left-col { 
    //     @media only screen and (max-width: 770px) {
    //         width: 100%;
    //         padding: 0px;
    //         margin: 0px;
    //     }
    // }

    .right-col {
        padding:10px 10px 10px 10px;
        @media only screen and (max-width: 600px) {
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
    }

    .panel-heading {
        padding: 15px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 1.1em;
        font-weight: 600;
        clear: both;
    }

    .panel-default>.panel-heading {
        color: #333;
        background-color: #EBEBEB;
        border-color: #ffffff;
    }
    
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    
    .panel:not(:first-child) { 
        margin-top: 50px;  
    }

    .panel-body {
        padding: 15px;
        box-sizing: border-box;
        h2 {
            font-size: 1.3em;
            font-weight: 600;
        }
        p, ul, li{
            margin-top: 5px;
            font-size: 0.9em;
        }
    }
    .panel-default {
        border-right:1px solid #ddd;
        margin-top:15px;
    }

  .panel-border{
      border-bottom: 3px solid #929597;
      margin-bottom: 5px;
  }

  .au-body p {
    max-width: 100%;
}

    .panel-green {
        border-left: 10px $green solid;
        @extend .panel-border;
    }
    .panel-orange {
        border-left: 10px $orange solid;
        @extend .panel-border;
    }
    .panel-red {
        border-left: 10px $red solid;
        @extend .panel-border;
    }

    .traffic-green{
        color: $green; 
        font-size:1.3em; 
        padding:5px;
    }

    .traffic-orange{
        color: $orange; 
        font-size:1.3em; 
        padding:5px;
    }

    .traffic-red{
        color: $red; 
        font-size:1.3em; 
        padding:5px;
    }

    .top {
        cursor: pointer;
        float: right;
        // a {
        //     text-decoration: none;
        // }
        a:hover {
            border-bottom: 1px #000 solid;
        }
    }


    /* Accordion styles */

.traffic-lights {
        background-color: #F5F5F5;
        display: block;
        min-height: 60px;
        padding: 25px 20px 20px 20px;
    }

    .print-only{
        display: none;
    }

@media print {
    .no-print {
        display: none;
    }

    .print-only{
        display: block;
    }

    .panel-red {
        border-left: 10px #FF625C solid !important;
    }

    .panel-orange {
        border-left: 10px #FFB951 solid !important;
    }

    .red-light {
        background-color: #FF625C !important;
        -webkit-print-color-adjust: exact !important;
    }

    .orange-light {
        background-color: #FFB951 !important;
        -webkit-print-color-adjust: exact !important;
    }

    .green-light {
        color: #313131 !important;
        background-color: #21B87D !important;
        -webkit-print-color-adjust: exact !important;
    }
}

table{
    background-color: #F5F5F5;
    border-collapse: collapse; 
}

tr{
    border-bottom: 1px solid white!important;
}

td{
    padding-left: 15px;
    padding-right:15px;
}

.asessment-report-summary{
    margin-top:24px;
    span{
        font-weight: 500;
    }
}